body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
}

.nama-instansi{
	float: none;
	font-weight: bold;
	text-transform: capitalize;
	color: #000;
	font-size: 17pt;
	text-decoration: none;
	text-align: center;
	margin-bottom: 3px;
}

.info-instansi{
	float: none;
	color: #000;
	font-size: 11pt;
	text-decoration: none;
	text-align: center;
	margin-bottom: 3px;
}

.logo {
	margin-top: -65px;
	margin-bottom: 10px;
}

.logo img {
	width: 55px;
    height: 55px;
    margin-left: 250px;
}

.judul-laporan{
	float: none;
	font-weight: bold;
	text-transform: capitalize;
	color: #000;
	font-size: 12pt;
	text-decoration: none;
	text-align: center;
	margin-bottom: 5px;
}

.judul-tanggal{
	float: none;
	font-weight: bold;
	color: #000;
	font-size: 11pt;
	text-decoration: none;
	text-align: center;
	margin-bottom: 5px;
}

.tr-judul{
	font-size: 10pt;
	font-weight: bold;
	color: #000;
	background-color: #eaeaea;
}

.td-left {
	padding-left: 20px;
}

.td-right {
	padding-right: 20px;
}

.td-right-total-judul {
	padding-right: 55px;
}

.td-right-total-isi {
	padding-right: 23px;
}

.border-dotted {
	color: #ccc;
}

.footer-tanggal {
	margin-left: 800px;
	margin-top: 30px;
}
