:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  background-image: linear-gradient(
    to top left,
    rgb(245,245,245, 0.5),
    rgb(245,245,245, 0.5)),
    url(img/puan.JPG);
  position: relative;
}

.form-signin {
  width: 100%;
  max-width: 320px;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
  border-radius: 3%;
  background: #FFFFFF;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: Slide_Up 1.6s ease;
}

.brand {
    width: 90px;
    height: 90px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #FFE4B5;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #20B2AA;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.7);
}

.preloader .loading {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%,-50%);
  font: 14px arial;
  text-align: center;
}

.loading h3 {
  font-size: 19px;
  margin-bottom: -12px;
}

.loading img {
  margin-top: -50px;
}

.title-icon {
  margin-right: 7px;
}

.left {
  text-align: left;
}

@keyframes Slide_Up {
  0%{
    transform: translateY(90px);
  }
  100%{
    transform: translateX(0);
  }

}
