body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.94rem;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.brand {
    width: 35px;
    height: 35px;
    padding: 3px;
    border-radius: 50%;
    background-color: #fff;
}

.title-brand {
    font-size: 27px;
    color: #fff;
}

.title-brand:hover {
    font-size: 27px;
    color: #000000;
}

.username {
    color: #fff;
    text-decoration: none;
}

.username:hover {
    color: #28a745;
    text-decoration: none;
}

.username:focus {
    color: #fff;
    text-decoration: none;
}

.bg-success {
    background: linear-gradient(to right, #FFE4B5 0%, #808080 120%);
}

.bg-light {
    background-color: #fff!important;
}

.navbar-menu {
    margin-top: 60px;
    z-index: 1029;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #28a745;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #28a745;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: rgba(0,0,0,.7);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #28a745;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #28a745;
  text-decoration: none;
  background-color: #f8f9fa;
}

.content {
    margin-top: 145px;
    min-height: 400px;
    padding-right: 15px;
    padding-left: 15px;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .45rem 1.25rem;
    color: inherit;
}

.table-dashboard {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #FFE4C4;
}

.table-dashboard th,
.table-dashboard td {
  padding: .35rem 0.75rem .1rem 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.table-dashboard td h5 {
    color: #00CED1 !important;
    opacity: 0.8;
    font-size: 1.2rem;
}

.table-report {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table-report th,
.table-report td {
  padding: .35rem 0.75rem .35rem 0.75rem;
  vertical-align: top;
}

.table-report-bg-dark {
    background-color: rgba(0,0,0,.05);
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 30px;
    text-align: center;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 10px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.dataTables_scroll {
    border-bottom: 1px solid #dee2e6;
}

th {
    text-align: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: rgba(0,0,0,.7);
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #28a745;
  text-decoration: none;
  background-color: #FF8C00;
  border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.card-dashboard {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.09);
    margin-bottom: 1.875rem;
    border-radius: 0;
}

.card-dashboard {
    position: relative;
    display: block;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.media-right {
    padding-left: 10px;
    padding-top: 5px;
}

.media-middle {
    vertical-align: middle;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.125);
}

.left {
	text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.title-icon {
    margin-right: 7px;
}

.border {
    border: 0.5px solid #dee2e6!important;
}

.btn-menu {
    padding-top: 25px;
    padding-bottom: 25px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.7);
}

.preloader .loading {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%,-50%);
  font: 14px arial;
  text-align: center;
}

.logo-preview {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.logo-preview-border {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: 17rem;
    height: 17rem;
}

.modal-lg {
    max-width: 1000px;
}

.pink {
    color: #ff6b81 !important;
}

.orange {
    color: #fd8849 !important;
}

.teal {
    color: #00d1b2 !important;
}

.cyan {
    color: #00BCD4 !important;
}

.green {
    color: #FF8C00 !important;
    opacity: 0.8;
}

.icon-dashboard {
    font-size: 2.5rem !important;
}
